<div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" method="post" action="/admin/login">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="error">{{message}}</div>
		        <div class="login-wrap">
		            <input name="username" type="text" class="form-control" placeholder="User ID" autofocus>
		            <br>
		            <input name="password" type="password" class="form-control" placeholder="Password">

		            <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
		            <hr>
		            
		            		
		        </div>
		
		      </form>	  	
	  	
	  	</div>
	  </div>