<h3>Ver usuario</h3>
        	
          	<!-- SIMPLE TO DO LIST -->
          	<div class="row mt">
          		<div class="col-md-12">
          			<div class="white-panel pn">
	                	<div class="panel-heading">
	                        <div class="pull-left"><h5><i class="fa fa-tasks"></i> Detalles</h5></div>
	                        <br>
	                 	</div>
				  		<div class="custom-check goleft mt">
				             <table id="todo" class="table table-hover custom-check">
				              <tbody>
				                <tr>
				           			<td>
				                       <strong>Nombre:</strong> {{user.username}}
									</td>
				                </tr>
				                <tr>
				           			<td>
				                       <strong>Email:</strong> {{user.email}}
									</td>
				                </tr>				                
                         <tr>                         
                         <td>
                         <a href="/admin/users"><button class="btn btn-theme">Regresar</button></a>
                  </td>
                         </tr>
				              </tbody>
				          </table>
						</div><!-- /table-responsive -->
					</div><!--/ White-panel -->
          		</div><!-- --/col-md-12 ---->
          	</div><!-- -- row ---->