<h1>Gestión de productos</h1>          	          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="post" action="/admin/products/save">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                              <div class="col-sm-10">
                                  <input name="name" class="form-control" type="text">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Imagen</label>
                              <div class="col-sm-10">
                                  <input name="imagefile" class="form-control" type="text">
                                  <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Descripción</label>
                              <div class="col-sm-10">
                                  <textarea row="10" name="description" class="form-control round-form"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Precio</label>
                              <div class="col-sm-10">
                                  <input name="price" class="form-control" type="text">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Instock</label>
                              <div class="col-sm-10">
                                  <input name="instock" class="form-control" id="disabledInput" type="text">
                              </div>
                          </div>
                         <button type="submit" value="btn_save" class="btn btn-theme">Salvar</button>                         
                        <a href="/admin/products">Cancelar</a>                      
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
          	
          	<!-- /row -->
          	
          	
